body {
  background-color: azure;
  font-family: "Courier New", Courier, monospace;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo {
  font-size: 2.5em;
  font-family: "Courier New", Courier, monospace;
}

@media (max-width: 770px) {
  .container {
    margin: 0 10%;
  }
  .logo {
    font-size: 1.5em;
  }
}
